@media (max-width: 1000px) {
    .container {
        padding: 0 10px;
    }
    .card{
        width: 45%;
    }
    .card-info-box {
        width: 47%;
    }
}

@media (max-width: 800px) {
    .cards{
        align-content: center;

    }

    .pictures-info{
        width: 48%;
    }
    .section-banner{
        width: 50%;
    }
    .info-cards{
        width: 49%;
    }
    .story{
        width: 49%;
    }
    .price-card{
        width:100%;
    }
    .info-board{
        width:75%;
    }
    .card{
        width: 50%;
        margin: 10px 0;
        img{
            width: 100%;
        }
    }
    .service-details{
        width:43%;
        margin: 10px 0;
    }
    .info-box{
        width:42%;
    }
    .cards{
        width:80%;
    }

    .card-info-box{
        width: 49%;
    }



}
@media (max-width: 700px) {

    header .button{
        display: none;
    }
    nav{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }

    .info-stories{
        width:48%;
    }

   nav {
        width: 46%;
        padding: 20px;
        left: 0;
        position: absolute;
        top: 0;
        height: 100vh;
        background: #2e2b2b;
       .row{
           flex-direction: column;
           justify-content: start;
           align-items: start;
           li{
               padding: 25px 0;

               a{
                   padding: 0 10px!important;
               }
           }
       }
       .mobile-menu-icon{
           position: absolute;
           right: 20px;
           top: 20px;
       }
       .child-menu {
           position: relative;
       }

    }
    .service-details{
        width:47%;
        margin: 10px 0;
    }
.card{
    width: 43%;
}
    .card-info-box{
        width:56%;
    }
.image-cards{
    width: 30%;
}

}
@media (max-width: 600px) {
    .section-banner{
        width: 70%;
        margin: 20px 0;
    }
    .info-stories{
        width:81%;
    }
    .story{
        width: 80%;
    }
    .info-board{
        width:95%;
    }
    .info-cards{
        width:82%;
    }
    .card{
        width:85%;
    }
    .info-box{
        width:70%;
        margin: 20px 0;

    }
    .cards{
        width:95%;
    }
    .card-info-box{
        width:95%;
    }
    .image-cards,.benefit-cards{
        width: 48%;
    }
}
@media (max-width: 400px) {
    .info-board{
        width: 100%;
    }
    .card-premium{
        width: 50%;
    }
    .card-premium2{
        width: 41%;
    }
    .card{
        width: 100%;
    }
    .service-details{
        width:100%;
    }
    .story{
        width: 100%;
    }
    .cards{
        width:100%;
    }
    .info-cards{
        width:100%;
    }
    .info-stories{
        width:100%;
    }
    .image-cards,.benefit-cards{
        width: 98%;
    }
}