* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.container-md{
 max-width: 1000px;
    margin: 0 auto;
}
.container-sm {
    max-width: 600px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.hidden-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.d-none{
    display: none;
}
header {
    padding: 5px;
    background: #313131;
    position: sticky;
    top: 0;
    z-index: 2;

    .row {
        justify-content: space-between;
    }
}
.align-item-center{
    align-items: center;
}
.logo {
    width: 150px;
}

.menu {
    li {
        list-style: none;
        position: relative;
    }

    a {
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
    }
}
.menu .active {
    padding: 5px 0;
   border-bottom: 2px solid rgba(0, 0, 0, 0.53);

}
.child-menu .active {
    padding: 5px 10px;
    color: #fff;
}
.child-menu{
    position: absolute;
    left: 0;
    padding: 15px 5px 15px 5px;
    background: #272424;
    width: 247px;
    display: none;
    li{
        padding: 10px 10px 10px 5px ;
        a{

        }
        &:hover{
            background:#b09c66 ;
            color: #fff;
        }
    }
}
.d-block {
    display: block;
}
.menu li:hover .child-menu {
    display: block;
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.barber {
    background-image: url("./images/client-doing-hair-cut-2-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}

.j-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    margin: auto 10px;
    width: 93%;
    text-align: right;

    h2 {
        font-size: 68px;
        padding: 20px 0;

    }

    p {
        font-size: 20px;
    }
}

.button {
    margin-top: 20px;
    font-size: 15px;
    padding: 15px 50px;
    color: white;
    background-color: #b09c66;
    border: none;
    font-weight: bold;
}

.welcome-page {
    background-color: #1b1b1b;
    color: whitesmoke;
}

.title {
    font-size: 50px;
    padding: 50px 0;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 0;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.cards {
    margin: 20px 0;
    width: 48%;

    .card-img {
        width: 100%;
        height: 300px;
        object-fit: cover;

    }
}

.logo {
    margin: 20px 0;
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    img {
        width: 50%;
        object-fit: contain;
    }
}

.welcome-info {
    p {
        font-size: 20px;
        color: #b09c66;
    }

    h3 {
        font-size: 30px;
        padding: 20px 0;
        font-weight: lighter;
    }

    span {
        width: 50%;
        font-size: 20px;
        font-weight: bold;
    }

    h5 {
        font-size: 15px;
        font-weight: lighter;
        padding: 50px 0 0;
    }
}
.dectoration-top{
     position: relative;
     padding: 25px 0;
 }
.dectoration-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17%;
    height: 5px;
    background:#b09c66; ;

}
.dectoration-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 5px;
    background:#b09c66; ;
}
.workday{
    margin: 10px 0 0;
}

.board {
    background-color: #333333;
    color: white;
}

.align {
    align-items: center;
}

.info-board {
    width: 49%;
    margin: 40px 0;

    .text-min {
        font-size: 20px;

    }

    .text-md {
        font-size: 35px;
        padding: 20px 0 30px;
    }

    .text-sm {
        font-size: 17px;
        padding: 0 0 20px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.backdrop {
    max-width: 1600px;
    margin: 0 auto;
    height: 60vh;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


.services {
    background-color: #1b1b1b;
    color: white;
    padding: 40px 0;

}

.align-content {
    align-content: center;

}

.section-header {
    text-align: center;
    letter-spacing: 1px;
    color: white;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 15px;
        font-weight: lighter;
        padding: 20px 0 30px;
    }
}

.img {
    width: 100%;
    object-fit: contain;
}

.card {
    width: 49%;
}

.service-details {
    width: 49%;
    text-align: center;
    background-color: #b09c66;
    padding: 50px 0;
    font-size: 20px;

    img {
        width: 30%;
    }
}

.pricing {
    background-color: #1b1b1b;
    color: white;
    padding: 50px 0;

    .row {
        justify-content: space-between;

    }
}

.price-card {
    margin: 10px 0;
    width: 49%;

    h4 {
        font-size: 25px;
        letter-spacing: 1px;
        padding: 20px 0;
    }

    .price {
        font-size: 17px;
        color: #b09c66;
    }

    p {
        font-size: 15px;
        font-weight: lighter;
        color: #949595;
        font-style: italic;
        padding: 0 0 10px;
        border-bottom: 2px solid #858484;
    }
}

.appointment {
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/human-face-expressions-emotions-headshot-young-model-with-thick-beard-posing-with-angry-unfriendly-look3-min.jpg");
    background-size: cover;
    height: 80vh;
    color: white;
    position: relative;


    .row {
        align-items: center;
    }
}
.appointment-info{
    position: relative;
    z-index: 1;
}
.appointment:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.44);
}

.off-title {
    font-size: 65px;
}

.appointment-details {
    width: 49%;

    h3 {
        font-size: 30px;
    }

    button {
        margin-top: 20px;
        font-size: 15px;
        padding: 15px 50px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }

    button:hover {
        color: #b09c66;
        background-color: white;
        cursor: pointer;
    }

}

.our-stories {
    background-color: #1b1b1b;
    color: white;
    padding: 50px 0;
}

.story {
    width: 32%;
    background-color: #b09c66;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h5 {
        padding: 20px 10px;
        font-size: 25px;
        font-weight: bold;

    }

    p {
        padding: 0 10px 30px;
        font-size: 17px;
        font-weight: lighter;
    }
}
.effect-slid{
    position: relative;
}
.effect-slid:after {
    content: "";
    width: 0%;
    height:0%;
    position: absolute;
    left:0;
    transition: ease-in 0.2s;


}
.effect-slid:hover:after {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.24);

}
.effect-1-image{
    overflow: hidden;

}
.effect-2-image{
    transition: 0.5s;
}
.effect-2-image:hover{
    transform: scale(2.2) rotate(5deg);
}
.page-end {
    background-color: #1b1b1b;
    color: white;
}

.section-banner {
    margin: 90px 0;
    width: 32%;
    text-align: center;

    img {
        width: 20%;
    }

    h5 {
        font-size: 25px;
        padding: 20px 0;
    }

    p {
        margin: 10px 0;
        font-size: 20px;

    }

    .edit {
        color: #b09c66;
    }
}

footer {
    background-color: black;
    color: white;

}

.info-box {
    width: 32%;
    margin: 50px 0;
    text-align: center;

    img {
        width: 30%;
    }

    h5 {
        font-size: 25px;
        padding: 20px 0;
    }

    span {
        padding: 10px 0;

    }

    p {
        padding: 5px 0;
    }

    .color {
        color: #b09c66;
    }

    .crop-img {
        width: 20%;
    }
}

.icons-group {
    padding: 10px;
    font-size: 20px;
    color: #b09c66;
    justify-content: space-evenly;
}
.about{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/medium-shot-man-getting-haircut2-min.jpg");
    color: white;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.about-info{
    position: relative;
    z-index: 1;
    h2{
        font-size: 50px;
        margin:10px 0
    }
    p{
        font-size: 20px;
    }
}
.about:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.63);

}
.working-times{
    color: white;
    background-color: #1b1b1b;
    padding: 50px 0;
            .cards{
                align-content: center;
            }
}
.image{
    width: 100%;
    height: 100%;
}
.stories{
    background-color: #1b1b1b;
    padding: 50px 0;
    color: white;
}
.info-stories{
    width: 32%;
    margin: 50px 0;
            h3{
                font-size: 30px;
                font-weight: lighter;
                padding: 12px 0;
            }
            p{
                font-size: 20px;
                line-height: 1.5;
                color: #7c7c7c;
            }


}
.our-barbers{
    background-color: #333333;
    padding: 50px 0;

}
.title-header{
    text-align: center;
    color: white;
        span{
            font-size: 20px;
            font-weight: lighter;
        }
        h2{
            font-size: 40px;
            padding: 15px 0;
        }
}
.info-cards{
    width: 32%;
    background-color: #ffffff;
    padding: 20px 20px 30px ;
    letter-spacing: 1px;
    img{
        width: 100%;
    }
    p{
        color: #b09c66 ;
        font-weight: bold;
        padding: 10px 0;
    }
    h3{
        font-size: 20px;
        padding: 0 0 15px;
    }
    i{
       color:#b09c66 ;
        font-size: 18px;
        font-weight: lighter;
        padding: 5px;


    }
}
.premium{
    background-color: #1b1b1b;
    color: #000000;
    padding: 60px 0;
        .lg-text{
            font-size: 50px;
        }
}
.card-premium{
    width: 24%;
    background-color:#b09c66 ;
    color: black;
    text-align: center;
    padding:10px;
    margin: 40px 0 0;
}
.card-premium2{
    width: 24%;
    background-color: #4b4b4c;
    color: white;
    align-content: center;
    text-align: center;
    padding:10px;
    margin: 40px 0 0;
}
.banner-section{
    background-color: #ffffff;
}
.editing{
    display: flex;
    flex-direction: column;
    gap:25px 0;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    padding: 25px;
            img{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                margin: 20px 0;

            }
            p{
                width: 65%;
                text-align: center;
            }
            .text-edit{
                font-weight: bold;

            }

}
.barber-our{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/man-barbershop-salon-doing-haircut-beard-trim1-min.jpg");
    color: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

.barber-info{
    position: relative;
    z-index: 1;
    h2{
    font-size: 60px;
    padding: 15px 0;

}
    button:hover{
        cursor: pointer;
        color:#b09c66 ;
        background-color: #ffffff;

    }
}
}
.barber-our:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.44);
}
.info-cards{
    h3{
        font-size: 25px;
    }
    button{
        font-size: 15px;
    }
    button:hover{
        cursor: pointer;
        background-color: rgba(9, 13, 14, 0.09);
    }
}
.landing{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/smart-pensive-redhead-hipster-with-full-beard-glasses-dressed-casual-clothes-poses-with-hand-chin-studio-isolated-dark-background5-min.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.landing:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}
.landing-info{
    position: relative;
    z-index: 1;
    padding: 0 15px;
    width: 50%;
    h2{

        font-size: 90px;
        padding: 20px 0 ;
    }
    p{
        font-size: 20px;
        line-height: 1.5;
    }
    .button:hover{
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color:#b09c66 ;
    }

}
.img-edit{
    width: 55%;
}
.pictures{
    background-color:#1b1b1b;
    padding: 50px 0;
}
.pictures-info{
    width: 24%;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.services-shop{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/vintage-frame-salon-tools-wooden-table-2-min1.jpg");
    background-size: cover;
    height: 100vh;
    padding: 50px 0;
    position: relative;
    .section-header{
        position: relative;
        z-index: 1;
    }
    .service-details{
        position: relative;
        z-index: 2;
        width: 32%;
        color: #ffffff;
    }
}


.services-shop:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.46);
}
.weekdays{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/vintage-frame-salon-tools-wooden-table-2-min1.jpg");
    background-size: cover;
    height: 100vh;
    padding: 50px 0;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    position: relative;
}
.weekdays:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.62);
}

.select {
    position: relative;
    z-index: 1;
    letter-spacing: 1px;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px 0;
        border: 3px solid #b09c66;
    }

    h4 {
        font-size: 20px;
        padding: 15px 0;
    }

    h2 {
        font-size: 50px;
        padding: 0 0 15px ;
    }
}
.design{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
    background-color: #1b1b1b;
    height: 40vh;
    border-radius: 10%;
}
.card-price{
    margin: 10px 0;
    width: 49%;

    h4 {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 20px 0;
    }

    .price {
        font-size: 17px;
        color: #b09c66;
    }

}
.weekdays-card {
    color: black;
    margin: 10px 0;
    width: 49%;
    background-color: #e8e3e3;
    padding: 30px 20px;

    h4 {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 20px 0;
    }

    .price {
        font-size: 17px;
        color: #b09c66;
    }
}
.service{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/male-hairdresser-shaking-hands-with-client-barber-hop7.jpg");
    color: white;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.service-info{
    position: relative;
    z-index: 1;
    letter-spacing: 2px;

    p{
            font-size: 20px;
            padding: 15px 0;
        }
        h2{
            font-size: 70px;

        }
    .button:hover{
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color:#b09c66 ;
    }

}
.service:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.42);
}
.offer{
    padding: 50px 0;
    background-color:#1b1b1b;
    text-align: center;

}
.image-cards{
    padding: 30px 0;
    width: 23%;

    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    h4{
        font-size: 20px;
        padding: 10px 0 ;
        color: white;
    }
    p{
        font-size: 17px;
        color: #b09c66;
    }
}
.benefit{
    background-color: #1b1b1b;
    padding: 60px 0;
}
.benefit-cards {
    margin: 40px 0;
    position: relative;
    width: 32%;
        img{
            width: 100%;
           height: 100%;
            object-fit: cover;
        }

}
.banner-img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    transition: 1s;
    overflow: hidden;

    h3{
        font-size: 17px;
        padding: 15px;
        letter-spacing: 1px;
        color: white;
    }

    &:hover{
        overflow: hidden;
        background-color: rgba(16, 13, 14, 0.46);
    }
}
.our-price{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/client-doing-hair-cut-2-min.jpg");
    color: white;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.our-price:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.38);
}
.price-info{
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
        h2{
            font-size: 65px;
            padding: 15px 0;

        }
        p{
            font-size: 18px;
            padding: 0 0 15px ;
        }
        .button:hover{
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            color:#b09c66 ;
        }

}
.contact-us{
    background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/6401142/images/man-getting-his-hair-trimmed-with-trimmer4-min.jpg");
    color: white;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.contact-us:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.42);
}
.contact-form{
    position: relative;
    z-index: 1;
        h2{
            font-size: 85px;
        }
}
.pictures-info-2{
    width:32%;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
}
.touch{
    background-image: url("https://images02.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/8bf4f074067f5e5a9d58e2e9/pexels-pixabay-90764.jpg");
    color: white;
    background-size: cover;
    height: 80vh;
    .row{
        justify-content: flex-end;
    }
}
.touch-info{
    width: 55%;
    text-align: center;
    h2{
        font-size: 35px;
    }
}